extends base.pug
block content
    h1= country.Code
    article 
        p Code #{country.Code}
        p Name #{country.Name} 
        p Continent: #{country.Continent} 
        p Region: #{country.Region}
        p IndepYear: #{country.IndepYear}
        p Population: #{country.Population}
        p Life Expentancy: #{country.LifeExpentancy}
        p GNP: #{country.GNP}
        p GNPOld: #{country.GNPOld}
        p Local Name: #{country.LocalName}
        p Head of State: #{country.HeadOfState}
        p Capital: #{country.Capital}
        p Code2: #{country.Code2}