extends base.pug
block content
    h1= city.Name
    article 
        p Name #{city.Name}
        p Country Code #{city.CountryCode} 
        p Population: #{city.Population} 
        p District: #{city.District}